/backend/.venv
mobile/.expo/
ferramentas/ffmpeg/doc/faq.html
ferramentas/ffmpeg/doc/nut.html
ferramentas/ffmpeg/doc/fate.html
ferramentas/ffmpeg/bin/ffmpeg.exe
ferramentas/ffmpeg/bin/ffplay.exe
ferramentas/ffmpeg/bin/ffprobe.exe
ferramentas/ffmpeg/doc/default.css
ferramentas/ffmpeg/doc/ffmpeg.html
ferramentas/ffmpeg/doc/ffplay.html
ferramentas/ffmpeg/doc/ffprobe.html
ferramentas/ffmpeg/doc/general.html
ferramentas/ffmpeg/doc/platform.html
ferramentas/ffmpeg/doc/style.min.css
ferramentas/ffmpeg/doc/community.html
ferramentas/ffmpeg/doc/developer.html
ferramentas/ffmpeg/doc/git-howto.html
ferramentas/ffmpeg/doc/libavutil.html
ferramentas/ffmpeg/doc/ffmpeg-all.html
ferramentas/ffmpeg/doc/ffplay-all.html
ferramentas/ffmpeg/doc/libavcodec.html
ferramentas/ffmpeg/doc/libswscale.html
ferramentas/ffmpeg/doc/ffprobe-all.html
ferramentas/ffmpeg/doc/libavdevice.html
ferramentas/ffmpeg/doc/libavfilter.html
ferramentas/ffmpeg/doc/libavformat.html
ferramentas/ffmpeg/doc/bootstrap.min.css
ferramentas/ffmpeg/doc/ffmpeg-utils.html
ferramentas/ffmpeg/doc/ffmpeg-codecs.html
ferramentas/ffmpeg/doc/ffmpeg-scaler.html
ferramentas/ffmpeg/doc/libswresample.html
ferramentas/ffmpeg/doc/ffmpeg-devices.html
ferramentas/ffmpeg/doc/ffmpeg-filters.html
ferramentas/ffmpeg/doc/ffmpeg-formats.html
ferramentas/ffmpeg/doc/drawvg-reference.html
ferramentas/ffmpeg/doc/ffmpeg-protocols.html
ferramentas/ffmpeg/doc/ffmpeg-resampler.html
ferramentas/ffmpeg/doc/mailing-list-faq.html
ferramentas/ffmpeg/presets/libvpx-360p.ffpreset
ferramentas/ffmpeg/presets/libvpx-720p.ffpreset
ferramentas/ffmpeg/presets/libvpx-1080p.ffpreset
ferramentas/ffmpeg/doc/ffmpeg-bitstream-filters.html
ferramentas/ffmpeg/presets/libvpx-720p50_60.ffpreset
ferramentas/ffmpeg/presets/libvpx-1080p50_60.ffpreset
