.cardAula {
    display: flex;
    flex-direction: column;
    flex: 0 0 290px;
    border: 1.5px solid #666666;
    border-radius: 18px;
    overflow: hidden;
    background-color: #ffffff;
    min-width: 350px;
}

.containerImagem {
    width: 100%;
    height: 145px;
    background-color: #333333;
}

.imagemAula {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.placeholderImagem {
    width: 100%;
    height: 100%;
    background-color: #cccccc;
}

.infoAula {
    margin: 10px;
}

.titulo {
    font-size: 25px;
    font-weight: 600;
}

.descricao {
    margin-left: 10px;
    font-size: 16px;
}